.example-container {
    margin-left: 0px;
    color: black;
    font-size: 15px;
    
  }
  .example-form
  {
    text-align: center;

  }
  .a{
    color:white;
    background-color: blue;
  }
.heading
{
  font-size: 25px;
  text-align: center;
}
body
{
  background-color: skyblue;
}
